<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <form>
    <div class="form-group mb-2">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group mb-3">
      <%= form.label :description %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-primary', style: 'width: 100%;' %>
    </div>
  </form>
<% end %>
